
body{
    width:100%;
    overflow-x: hidden;
    
}
header{
    height: 80px;
    width: 100%;
    position:sticky;
    top:0px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
header img{
    width:55px;
    height:53px;
    margin-left: 4%;
}
.left ul{
    padding: 0px;
}
.left ul li{
    list-style: none;
    padding: 0px 15px 0px 0px;
    
    font-size: 14px;
}

input[type="text"]{
    width: 25vw;
    height: 20px;
    padding: 8px 10px 10px 40px;
    margin-right: 2vw ;
    background:#b0aeae3d;
    border:1px solid #b0aeae3d;
    border-radius: 4px;
}



.right{
    margin-right: 4%;
    font-weight: 500;
    font-size:12px ;
    position: relative;
    right:0px;
}
.right i{
    font-size: 14px;
}
.right > div{
    margin:0px 8px;
}

.search {
    position: relative;
    left: 29px;
    top: 13px;
}

.section{
    background-color: #efefef;
    
}

img{
    width:100vw;
}
.item img{
    width:20vw;
}

h1{
    text-transform: uppercase;
    margin:50px 30px;
    letter-spacing: 3px;
    color:#3e4152;;
}

.cat img{
    width: 16.5vw;
}
footer{
    background-color: #eeeeee;
    padding:30px 150px;
}

.foot{
    text-align: center;
    background-color: rgb(199, 199, 204);
    position: absolute;
    right:0%;
    left:0%;
    padding:10px 20px;
    margin-top: 30px;
}

.bar{
    display: none;
    font-size: 30px;
    position: absolute;
    top:20px;
    left:10px;
    transition:all 0.3s ease-in 0.1s;
  }
  .bar i:hover{
    transform:scale(1.1);
    cursor:pointer;
  }
  .cross i{
    font-size:25px;
    position: absolute;
    top:15px;
    right:10px;
    color:black;
    transition:all 0.3s ease-in ;
    cursor:pointer;
  }
  .cross i:hover{
    color: white;
   
    transform:scale(1.1);
  }
  input[type="checkbox"]{
    display: none;
  }
  .box{

    position:absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.48);
    width:80vw;
    height:100vh;
    top:0px;
    left:-80vw;
    transition: linear 0.4s;
    color:black;
    z-index: 5;
  }
  .menu ul li{
    margin-top: 6px;
      padding:15px 20px;
      list-style: none;
    }
    .menu ul li:hover{
      box-shadow: 0px 0px 2px rgb(1, 1, 1);      
    }
    .menu ul li a{
      text-decoration: none;
      color:rgb(0, 0, 0);
      
    }
    i{
      color:rgb(0, 0, 0);
      padding-right:10px;
    }
   
   
    #inp:checked ~ .box{
     left:0px;
     transition: linear 0.4s;
    }

    #inp:checked ~ .bar{
      opacity: 0;
    }
@media (max-width:1000px){
    header .left{
        display: none;
    }
    header .right{
        width:100%;
        justify-content: flex-end;
       
    }
    header img{
        margin-left: 10vw;
    }
    .bar{
        display: block;
    }
    footer{
        display:none;
    }
    
    input[type="text"]{
        display: none;
        width: 25vw;
        height: 20px;
        padding: 8px 10px 10px 40px;
        margin-right: 2vw ;
        background:#b0aeae3d;
        border:1px solid #b0aeae3d;
        border-radius: 4px;
    }
    .search {
        position: static;

    }
    
    .right i{
        font-size: 20px;
    }
    
    .bag div{
        display: none;
    }
    .profile div{
        display: none;
    }
    .wishlist div{
        display: none;
    }
   
}